body{
    background-color: steelblue;
}
H1 {
    text-align: center;
    position: relative;
    font-size: 76px;
    top: 70px;
}
h3 {
    text-align: center;
    position: relative;
    font-size: 26px;
    top: 50px;
}

.Banner{
    position: absolute;
    padding:15px;
    height:200px;
    width: 2500px;
    background-size:100% 100%;
    background-color:gray ;
    border-color: white;
    border-radius: 25%;
    border: 4px solid white;
}

#picA {
    height: 600px;
    width: 400px;
    position: relative;
    top: 160px;
    left: 75px;
    border: 4px solid white;
}

#picB {
    height: 600px;
    width: 400px;
    position: relative;
    left: 66%;
    top: 160px;
    border: 4px solid white;
}


.container {
    background-color: steelblue;
    border: 4px solid white;
    padding: rem2;
    border-radius: 4rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 1500px;
    height:600px;
    left: 520px;
    bottom: 450px;
    position: relative;
    color:rgb(7, 80, 29);
    font-size:24px;
}

.paragraph {
    font-size: 36px;
}

.Links {
    display: block;
    text-decoration: none;
    grid-column: 40px;
}



