body{
    background-color: steelblue;
}
H1 {
    text-align: center;
    position: relative;
}
h3 {
    text-align: center;
    position: relative;
}

.Banner{
    position: absolute;
    padding:15px;
    height:200px;
    width: 2500px;
    background-size:100% 100%;
    background-color:gray ;
    border-color: gray ;
    border-radius: 25%
}

#picA {
    height: 600px;
    width: 400px;
    position: relative;
    top: 200px;
    left: 50px;
}

#picB {
    height: 600px;
    width: 400px;
    position: relative;
    left: 82%;
    bottom: 404px;
}

#bioA{
    text-align: center;
    font-size: 26px;
    font-family: times, "Times New Roman", Times, serif;
    position: relative;
    top: 150px;
    line-height: 100%;
    
}




